.w3-main {
    margin-left: 250px;
}
.containerOfLogin {
margin-left: 38%;
}
.marginbody {
  margin: 10px;
}
footer {
  width: 100%;
  color: white;
  text-align: center;
}
.logo {
  width: 250px;
  height: 150px;
}
a {text-decoration: none !important;}
a:hover {
  color: gray;
}
.module:hover 
.theme-pink {
  --radius: 10em;
  --baseFg: #c70062;
  --baseBg: #ffe3f1;
  --accentFg: #c70062;
  --accentBg: #ffaad4;
}
.selected {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  outline: 0;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-size: 0px 100%;
}

.selected:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
}

.selected:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);
}
#memberList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #memberList td, #memberList th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #memberList tr:nth-child(even){background-color: #ffffff;}

  #memberList tr:hover {background-color: rgba(99, 156, 182, 0.164);}
  
  #memberList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(58, 120, 255, 0.753);
    color: white;
  }

.editor1 {
    width: 70%;
    background-color: #fff;
}

.editor2 {
    border: solid 1px #ccc;
    padding: 20px;
    min-height: 200px;
}

.sample-toolbar {
    border: solid 1px #ddd;
    background: #f4f4f4;
    padding: 5px;
    border-radius: 3px;
}

.sample-toolbar>span {
    cursor: pointer;
}

.sample-toolbar>span:hover {
    text-decoration: underline;
}

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 50px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}
@media screen and (max-width: 1400px) {
  input {
  height: 30px;
  width: 80px;
  }
}
input[type=text] {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px
}

input[type=radio] {
    margin: 10px 10px 0
}

label {
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Roboto-Slab:400,500,700,300,100);
h1 {
    text-align: center;
    color: #454545;
    font-family: Roboto, helvetica, arial, sans-serif;
}

#sub {
    text-align: center;
}

#explanation-table {
    padding-right: 45px;
    padding-left: 45px;
}

body {
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-rendering: optimizeLegibility;
    overflow:hidden;
}

.table-title h3 {
    color: black;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-transform: uppercase;
}
  html, body, textarea, input{
    font-family: helvetica, sans-serif;
  }
  #page-body{
    max-width: 1000px;
  }
  h4 {
    text-transform: uppercase;
  }