
.w3-main{
    margin-left:300px;
    margin-top:43px;
}
html,body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif
}
 .btn {
     background-color: #4CAF50;
     size: 900px;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: solid black 1px;
     cursor: pointer;
 }
 
 body {
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }
 
 .dropbtn {
     background-color: #4CAF50;
     size: 1000px;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: solid black 1px;
     cursor: pointer;
 }
 
 .dropbtn:hover,
 .dropbtn:focus {
     background-color: #2980B9;
 }
 /* Style the sidebar - fixed full height */
 
 .sidebar {
     height: 100%;
     width: 160px;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #111;
     overflow-x: hidden;
     padding-top: 16px;
 }
 /* Style sidebar links */
 
 .sidebar a {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 16px;
     color: #818181;
     display: block;
 }
 /* Style links on mouse-over */
 
 .sidebar a:hover {
     color: #f1f1f1;
 }
 /* Style the main content */
 
 .main {
     margin-left: 160px;
     /* Same as the width of the sidenav */
     padding: 0px 10px;
 }
 /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
 
 @media screen and (max-height: 450px) {
     .sidebar {
         padding-top: 15px;
     }
     .sidebar a {
         font-size: 18px;
     }
 }table,
        tr,
        td,
        th {
            border: 1px solid gray;
            border-collapse: collapse;

        }


        td,
        th {
            padding: 4px;

        }

        th {
            background-color: darkblue;
            border: 1px solid gray;
            color: whitesmoke;
        }

        tr:nth-child(even) {
            background-color:gray;
            color: white;

        }
        input[type=text] {
            width:100%;
            height:40px;
            padding:5px;
            margin-bottom:15px;
            margin-top:5px;
            border:2px solid #ccc;
            color:#4f4f4f;
            font-size:16px;
            border-radius:5px
            }
            input[type=radio] {
            margin:10px 10px 0
            }
            label {
            color:#464646;
            text-shadow:0 1px 0 #fff;
            font-size:14px;
            font-weight:700
            }

            @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
            @import url(https://fonts.googleapis.com/css?family=Roboto-Slab:400,500,700,300,100);
            h1 {
                text-align: center;
                color: #454545;
                font-family: Roboto, helvetica, arial, sans-serif;
            }
            
            #sub {
                text-align: center;
            }
            
            #explanation-table {
                padding-right: 45px;
                padding-left: 45px;
            }
            
            body {
                font-family: "Roboto", helvetica, arial, sans-serif;
                text-rendering: optimizeLegibility;
            }
            
            .table-title h3 {
                color: black;
                font-style: normal;
                font-family: "Roboto", helvetica, arial, sans-serif;
                text-transform: uppercase;
            }
            
            
            /*** Table Styles **/
            
            .table-fill {
                background: white;
                border-collapse: collapse;
                padding: 5px;
                width: 100%;
            }
            
            tr:nth-child(odd) td {
                text-align: center;
            }
            
            td {
                text-align: left;
                vertical-align: middle;
            }
            
            table {
                border-collapse: collapse;
                margin: 0;
                padding: 0;
                width: 100%;
                table-layout: fixed;
            }
            
            th {
                padding: 16px;
                text-align: center;
                vertical-align: middle;
            }
            
           
