.btn {
    background-color: #4CAF50;
    size: 900px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: solid black 1px;
    cursor: pointer;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.dropbtn {
    background-color: #4CAF50;
    size: 1000px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: solid black 1px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

table, tr, td, th {
    border: 1px solid gray;
    border-collapse: collapse;
}

td, th {
    padding: 4px;
}

th {
    background-color: darkblue;
    border: 1px solid gray;
    color: whitesmoke;
}

tr:nth-child(even) {
    background-color: gray;
    color: white;
}